*{
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0 2%;
    opacity: 1;
    min-height: 12vh;
}

.navbar .container-fluid .navbar-brand{
    font: 800 40px sans-serif;
    color: white;
}

.navbar-nav{
    width: 45%;
    display: flex;
    justify-content: space-between;
    font: 500 19px sans-serif;
    text-transform: capitalize;
    align-items: center;
}

.navbar-nav .nav-item .nav-link{
    color: white;
}

.nav-item .nav-link:hover{
    color: orange;
}

 .nav-item i{
   color: white;
}

 .nav-item i:hover{
   color: orange;
}

#home{
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    background-image: url(images/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

#home h2{
    font: 500 55px sans-serif;
    text-transform: capitalize;
}

#home h1{
    font: 800 60px sans-serif;
    text-transform: capitalize;
    color: white;
}

#home p{
    font: 500 18px sans-serif;
    color: white;
    width: 40%;
    line-height: 24px;
}

#home a{
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 15px 40px;
    margin-top: 40px;
    transition: 0.3s;
}

#home a:hover{
    background-color: orange;

}

.navbar .nav-link.active{
    color: orange;
}

#about-us{
    margin: 90px 0 90px 0;

}

.about-us-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-right{
    width: 50%;
    position: relative;
}

.about-us-right img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px black;
}

.black-line{
    position: absolute;
    border: 4px solid black;
    width: 100%;
    height: 100%;
    top: 50px;
    right: 50px;
    z-index: -1;
}

.height{
    height: 600px;
}

.about-us-left h1{
    font: 700 45px sans-serif;
    text-transform: uppercase;
    color: orange;
}

.about-us-left .about-us-left-firstly-p{
    width: 75%;
    font: 500 18px sans-serif;
}

.about-us-left .about-us-left-secondly-p{
    width: 90%;
    font: 500 18px sans-serif;
}

.about-us-left a{
    background-color: black;
    color: white;
    padding: 15px 40px;
    text-transform: uppercase;
    font: bold 18px sans-serif;
    width: 30%;
    margin-top: 20px;
}

.about-us-left a:hover{
    background-color: orange;
    color: white;
   
}
